body {background-color: black; background-image: url(IntroBackground.png); background-size: cover;}

#noshow {
  display: none
}

#TvScreen {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 290px; 
    left: 575px; 
}

#thought {
  display: none;
  position: absolute;
  left: 1000px;
  top: 450px;
  background: white;
  border: 2px solid black;
  border-radius: 20px;
  padding: 12px;
  width: 180px;
  z-index: 3;
  pointer-events: none;
}

.CoverScreen{
  width: 600px;
  margin: auto;
}

.CoverScreen img {
  width: 600px;
  height: auto;
}

#continue {
  text-align: center;
  height: 20px;
  width: 100%;
}

#LeftImg {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 400px; 
    left: 700px; 
}

#RightImg {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 450px; 
    left: 830px; 
}

#LakeLeftImg {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 320px; 
    left: 0px; 
}

#LakeRightImg {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 320px; 
    left: 220px; 
}

#ForestLeftImg {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 450px; 
    left: 450px; 
}

#ForestRightImg {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 450px; 
    left: 700px; 
}

.cat{
  width: 600px;
  margin: auto;
}

.cat img {
  width: 200px;
}

#catAnswer {
  position: relative; 
  background-color: black; 
  padding: 50px; 
  border: 6px solid white;
  border-radius: 15px; 
  color: white;
  width: 1000px;
  left: -250px;
  text-align: center;
}

#catTitle {
  text-align: center;
  height: auto;
  width: auto;
  background-color: white;
  outline: 2px solid black;
}

#BarrelDoor {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 370px; 
    left: 650px; 
}

#CattyButton {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 220px; 
    left: 300px; 
}

#BackroomsDialog {
  position: relative; 
  background-color: black; 
  padding: 50px; 
  border: 6px solid white;
  border-radius: 15px; 
  color: white;
  width: 1000px;
  left: 270px;
  top: 300px;
  text-align: center;
}

#CattyButton img {
    width: 600px;
}

#RoomAnswer {
  text-align: center;
  height: auto;
  width: auto;
  background-color: white;
  outline: 2px solid black;
}

#RoomTitle {
  text-align: center;
  height: auto;
  width: auto;
  background-color: white;
  outline: 2px solid black;
}

#RoomBack {
  text-align: center;
  height: 20px;
  width: 100%;
}

#RiverUp {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 200px; 
    left: 100px; 
}

#RiverContinue {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 550px; 
    left: 500px; 
}

#explore {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 550px; 
    left: 50px; 
}

#enter {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 550px; 
    left: 800px; 
}

#Slug {
  background: transparent;
  display: inline-block;
  border: none; 
  padding: 0; 
  outline: none;
  position: relative;
  top: 0px; 
  left: 600px; 
}

#Slug2 {
  background: transparent;
  display: inline-block;
  border: none; 
  padding: 0; 
  outline: none;
  position: relative;
  top: 0px; 
  left: 720px;
}

#Slug2 img {
  width: 200px;
}

#CatPortrait {
  background: transparent;
  display: inline-block;
  border: none; 
  padding: 0; 
  outline: none;
  position: relative;
  top: 0px; 
  left: -400px; 
}

#RiverFalldialog {
  position: relative; 
  background-color: black; 
  padding: 50px; 
  border: 6px solid white;
  border-radius: 15px; 
  color: white;
  width: 1000px;
  left: 270px;
  top: 300px;
  text-align: center;
}

#bannanajoesDialog {
  position: relative; 
  background-color: black; 
  padding: 50px; 
  border: 6px solid white;
  border-radius: 15px; 
  color: white;
  width: 1000px;
  left: 270px;
  top: 300px;
  text-align: center;
}

#Merilldialog {
  position: relative; 
  background-color: black; 
  padding: 50px; 
  border: 6px solid white;
  border-radius: 15px; 
  color: white;
  width: 1000px;
  left: 270px;
  top: 300px;
  text-align: center;
}

#FoodRoomDialog {
  position: relative; 
  background-color: black; 
  padding: 50px; 
  border: 6px solid white;
  border-radius: 15px; 
  color: white;
  width: 1000px;
  left: 320px;
  top: 300px;
  text-align: center;
}

#burger {
  background: transparent;
  display: inline-block;
  border: none; 
  padding: 0; 
  outline: none;
  position: relative;
  top: 260px; 
  left: 740px;
}

#burger img {
  width: 200px;
}

#coffee {
  background: transparent;
  display: inline-block;
  border: none; 
  padding: 0; 
  outline: none;
  position: relative;
  top: 260px; 
  left: 740px;
}

#coffee img {
  width: 200px;
}

#shelf {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 335px; 
    left: 120px; 
}

#shelf img {
    width: 200px;
}

#bread {
    background: transparent;
    display: inline-block;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 300px; 
    left: 300px; 
}

#bread img {
    width: 200px;
}

#Breadthought {
  display: none;
  position: absolute;
  left: 300px;
  top: 450px;
  background: white;
  border: 2px solid black;
  border-radius: 20px;
  padding: 12px;
  width: 180px;
  z-index: 3;
  pointer-events: none;
}

#PoolButton {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: -5px; 
    left: 750px; 
}

#exit {
    background: transparent;
    display: inline-block;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: -70px; 
    left: 1100px; 
}

#FoodDoor {
    background: transparent;
    display: inline-block;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 100px; 
    left: -300px; 
}
