body {background-image: url(IntroBackground.png); background-size: cover;}

#TvScreen {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 290px; 
    left: 575px; 
}

#thought {
  display: none;
  position: absolute;
  left: 1000px;
  top: 450px;
  background: white;
  border: 2px solid black;
  border-radius: 20px;
  padding: 12px;
  width: 180px;
  z-index: 3;
  pointer-events: none;
}

.CoverScreen{
  width: 600px;
  margin: auto;
}

.CoverScreen img {
  width: 600px;
  height: auto;
}

#continue {
  text-align: center;
  height: 20px;
  width: 100%;
}

#LeftImg {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 400px; 
    left: 700px; 
}

#RightImg {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 450px; 
    left: 830px; 
}

#LakeLeftImg {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 320px; 
    left: 0px; 
}

#LakeRightImg {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 320px; 
    left: 220px; 
}

#ForestLeftImg {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 450px; 
    left: 450px; 
}

#ForestRightImg {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 450px; 
    left: 700px; 
}

.cat{
  width: 600px;
  margin: auto;
}

.cat img {
  width: 600px;
  height: auto;
}

#catAnswer {
  text-align: center;
  height: auto;
  width: auto;
  background-color: white;
  outline: 2px solid black;
}

#catTitle {
  text-align: center;
  height: auto;
  width: auto;
  background-color: white;
  outline: 2px solid black;
}

#catBack {
  text-align: center;
  height: 20px;
  width: 100%;
}

#BarrelDoor {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 370px; 
    left: 650px; 
}

#RoomAnswer {
  text-align: center;
  height: auto;
  width: auto;
  background-color: white;
  outline: 2px solid black;
}

#RoomTitle {
  text-align: center;
  height: auto;
  width: auto;
  background-color: white;
  outline: 2px solid black;
}

#RoomBack {
  text-align: center;
  height: 20px;
  width: 100%;
}

#RiverUp {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 200px; 
    left: 100px; 
}

#RiverContinue {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 550px; 
    left: 500px; 
}

#explore {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 550px; 
    left: 50px; 
}

#enter {
    background: transparent;
    border: none; 
    padding: 0; 
    outline: none;
    position: relative;
    top: 550px; 
    left: 800px; 
}